# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\XUK5-1828970\GitHub\pyiEEGfeatures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
